SERVER_ADDR=:8080
ISSUER_URL=http://localhost:8080
SESSION_COOKIE_NAME=centrauth_session
SESSION_TTL=24h
DB_DATABASE=centrauth
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

